.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/

# turbo
.turbo

# prisma
/generated/prisma
dev.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env files
.env*
!.env.example

# test coverage
coverage/
.nyc_output/

# temporary files
*.tmp
*.swp
*~
